[defaults]

inventory = ./hosts
remote_tmp = /tmp/.ansible_$USER/tmp
timeout = 10

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
control_path = /dev/shm/cp%%h-%%p-%%r

display_skipped_hosts = false

