--- 
- hosts: "{{ variable_host | default('hsd_drp') }}"
  
  vars: 
    files_name: 
    - {src: '../files/datadev.ko_srcf',   dest: '/usr/local/sbin/datadev.ko',          mode: a+x}
    #- {src: '../files/kcuSim',                  dest: '/usr/local/sbin/kcuSim',              mode: a+x}
    #- {src: '../files/kcuStatus',               dest: '/usr/local/sbin/kcuStatus',           mode: a+x}
    - {src: '../files/kcu_hsd.service',         dest: '/etc/systemd/system/datadev.service',     mode: a+r}
    - {src: '../files/sysctl.conf',             dest: '/etc/sysctl.conf',                    mode: a+r}
    
    firmware: drp/DrpPgpIlv-0x05040300-20250811085728-weaver-846de54
    
    
  roles: 
  - {role: ./roles/drp_update} 
  tags: hsd

- hosts: "{{ variable_host | default('wave_drp') }}"
  
  vars: 
    files_name: 
    - {src: '../files/datadev.ko_srcf',   dest: '/usr/local/sbin/datadev.ko',          mode: a+x}
   # - {src: '../files/kcuSim',                  dest: '/usr/local/sbin/kcuSim',              mode: a+x}
   # - {src: '../files/kcuStatus',               dest: '/usr/local/sbin/kcuStatus',           mode: a+x}
    - {src: '../files/kcu_wave.service',        dest: '/etc/systemd/system/datadev.service',     mode: a+r}
    - {src: '../files/sysctl.conf',             dest: '/etc/sysctl.conf',                    mode: a+r}
    
    firmware: drp/XilinxKcu1500Pgp4_6Gbps-0x02050000-20240215192118-ruckman-3e991ff
    
    
  roles: 
  - {role: ./roles/drp_update} 
  tags: wave

- hosts: "{{ variable_host | default('camera_drp') }}"
  
  vars: 
   files_name: 
   - {src: '../files/datadev.ko_srcf',   dest: '/usr/local/sbin/datadev.ko',          mode: a+x}
   #- {src: '../files/kcuSim',                  dest: '/usr/local/sbin/kcuSim',              mode: a+x}
   #- {src: '../files/kcuStatus',               dest: '/usr/local/sbin/kcuStatus',           mode: a+x}
   - {src: '../files/kcu.service',             dest: '/etc/systemd/system/datadev.service',     mode: a+r}
   - {src: '../files/sysctl.conf',             dest: '/etc/sysctl.conf',                    mode: a+r}
    
   firmware: drp/Lcls2XilinxKcu1500Pgp2b-0x03100000-20250114180154-ruckman-524f66a
   
    
  roles: 
  - {role: ./roles/drp_update} 
  tags: camera

- hosts: "{{ variable_host | default('timing_drp') }}"
  
  vars: 
    files_name: 
    - {src: '../files/datadev.ko_srcf',   dest: '/usr/local/sbin/datadev.ko',              mode: a+x}
    #- {src: '../files/kcuSim',                  dest: '/usr/local/sbin/kcuSim',                  mode: a+x}
    #- {src: '../files/kcuStatus',               dest: '/usr/local/sbin/kcuStatus',               mode: a+x}
    - {src: '../files/tdetsim.service',         dest: '/etc/systemd/system/datadev.service',     mode: a+r}
    - {src: '../files/sysctl.conf',             dest: '/etc/sysctl.conf',                        mode: a+r}
  
    firmware: drp/DrpTDet-0x05040300-20250811085743-weaver-846de54
    
  
  roles: 
  - {role: ./roles/drp_update} 
  tags: timing

- hosts: "{{ variable_host | default('hightiming_drp') }}"
  vars: 
    files_name: 
    - {src: '../files/datadev.ko_srcf',   dest: '/usr/local/sbin/datadev.ko',              mode: a+x}
    #- {src: '../files/kcuSim',                  dest: '/usr/local/sbin/kcuSim',                  mode: a+x}
    #- {src: '../files/kcuStatus',               dest: '/usr/local/sbin/kcuStatus',               mode: a+x}
    - {src: '../files/tdetsim_high.service',    dest: '/etc/systemd/system/datadev.service', mode: a+r}
    - {src: '../files/sysctl.conf',             dest: '/etc/sysctl.conf',                        mode: a+r}
      
    firmware: drp/DrpTDet-0x05040300-20250811085743-weaver-846de54
    #DrpTDetGpuC1100-0x05040300-20250811100751-weaver-846de54
    
  roles: 
  - {role: ./roles/drp_update} 
  tags: hightiming

- hosts: "{{ variable_host | default('timing_rocky9_drp') }}"
  vars: 
    files_name: 
    - {src: '../files/datadev.ko_6.7.1_srcf_rocky9',   dest: '/usr/local/sbin/datadev.ko',              mode: a+x}
    #- {src: '../files/kcuSim',                  dest: '/usr/local/sbin/kcuSim',                  mode: a+x}
    #- {src: '../files/kcuStatus',               dest: '/usr/local/sbin/kcuStatus',               mode: a+x}
    - {src: '../files/tdetsim.service',         dest: '/etc/systemd/system/datadev.service', mode: a+r}
    - {src: '../files/sysctl.conf',             dest: '/etc/sysctl.conf',                        mode: a+r}
      
    firmware: drp/DrpTDet-0x05040300-20250811085743-weaver-846de54
    #DrpTDetGpuC1100-0x05040300-20250811100751-weaver-846de54
    
  roles: 
  - {role: ./roles/drp_update} 
  tags: timing_rocky9


- hosts: "{{ variable_host | default('Jungfrau_rocky9_drp') }}"
  
  vars: 
    files_name: 
    - {src: '../files/datadev.ko_6.7.1_srcf_rocky9',   dest: '/usr/local/sbin/datadev.ko',              mode: a+x}
   # - {src: '../files/kcuSim',                  dest: '/usr/local/sbin/kcuSim',                  mode: a+x}
   # - {src: '../files/kcuStatus',               dest: '/usr/local/sbin/kcuStatus',               mode: a+x}
    - {src: '../files/kcu_jung.service',        dest: '/etc/systemd/system/datadev.service',     mode: a+r}
    - {src: '../files/sysctl.conf',             dest: '/etc/sysctl.conf',                        mode: a+r}
    
    firmware: drp/Lcls2XilinxKcu1500Udp_10GbE-0x03040000-20250314213558-ruckman-5042731
    
  roles: 
  - {role: ./roles/drp_update} 
  tags: jungfrau_rocky9



- hosts: "{{ variable_host | default('epixuhr_drp') }}"
  
  vars: 
    files_name: 
      - {src: '../files/datadev.ko_srcf',   dest: '/usr/local/sbin/datadev.ko',              mode: a+x}
     # - {src: '../files/kcuSim',                  dest: '/usr/local/sbin/kcuSim',                  mode: a+x}
     # - {src: '../files/kcuStatus',               dest: '/usr/local/sbin/kcuStatus',               mode: a+x}
      - {src: '../files/kcu_epix.service',        dest: '/etc/systemd/system/datadev.service',     mode: a+r}
      - {src: '../files/sysctl.conf',             dest: '/etc/sysctl.conf',                        mode: a+r}
    
    firmware: drp/XilinxKcu1500Pgp4_10Gbps-0x02050000-20240819162750-weaver-02517bc
    
    
  roles: 
  - {role: ./roles/drp_update} 
  tags: epixuhr

- hosts: "{{ variable_host | default('epix100_drp') }}"

  vars: 
    files_name: 
    - {src: '../files/datadev.ko_srcf.6.6.1',       dest: '/usr/local/sbin/datadev.ko',              mode: a+x}
    - {src: '../files/kcu_epix100.service',         dest: '/etc/systemd/system/datadev.service',     mode: a+r}
    - {src: '../files/sysctl.conf',                 dest: '/etc/sysctl.conf',                        mode: a+r}
  
    firmware: drp/Lcls2EpixHrXilinxKcu1500Pgp4_6Gbps-0x03020000-20250402173813-ruckman-68578d8
    
  
  roles: 
  - {role: ./roles/drp_update} 
  tags: epix100

- hosts: "{{ variable_host | default('Jungfrau_drp') }}"
  
  vars: 
    files_name: 
    - {src: '../files/datadev.ko_srcf.6.6.1',   dest: '/usr/local/sbin/datadev.ko',              mode: a+x}
   # - {src: '../files/kcuSim',                  dest: '/usr/local/sbin/kcuSim',                  mode: a+x}
   # - {src: '../files/kcuStatus',               dest: '/usr/local/sbin/kcuStatus',               mode: a+x}
    - {src: '../files/kcu_jung.service',        dest: '/etc/systemd/system/datadev.service',     mode: a+r}
    - {src: '../files/sysctl.conf',             dest: '/etc/sysctl.conf',                        mode: a+r}
    
    firmware: drp/Lcls2XilinxKcu1500Udp_10GbE-0x03040000-20250314213558-ruckman-5042731
    
  roles: 
  - {role: ./roles/drp_update} 
  tags: jungfrau 



- hosts: "{{ variable_host | default('tdetsim_fee_drp') }}" 
  
  vars: 
    files_name: 
    - {src: '../files/datadev.ko_6.6.1_fee',    dest: '/usr/local/sbin/datadev.ko',              mode: a+x}
    #- {src: '../files/kcuSim',                  dest: '/usr/local/sbin/kcuSim',                  mode: a+x}
    #- {src: '../files/kcuStatus',               dest: '/usr/local/sbin/kcuStatus',               mode: a+x}
    - {src: '../files/tdetsim.service_fee2',    dest: '/etc/systemd/system/datadev.service',     mode: a+r}
    - {src: '../files/sysctl.conf',             dest: '/etc/sysctl.conf',                        mode: a+r}
    
    firmware: drp/DrpTDet-0x05040300-20250811085743-weaver-846de54
    
  roles: 
  - {role: ./roles/drp_update} 
  tags: tdetsim_fee


- hosts: "{{ variable_host | default('KCU_XPM_drp') }}" 
  
  vars: 
    files_name: 
    - {src: '../files/datadev.ko_srcf',              dest: '/usr/local/sbin/datadev.ko',              mode: a+x}
    #- {src: '../files/kcuSim',                  dest: '/usr/local/sbin/kcuSim',                  mode: a+x}
    #- {src: '../files/kcuStatus',               dest: '/usr/local/sbin/kcuStatus',               mode: a+x}
    - {src: '../files/tdetsim.service',         dest: '/etc/systemd/system/datadev.service',     mode: a+r}
    - {src: '../files/sysctl.conf',             dest: '/etc/sysctl.conf',                        mode: a+r}
    
    firmware: xpm/xpmKcu1500-0x030D0300-20250825093804-weaver-47775fe
    
  roles: 
  - {role: ./roles/drp_update} 
  tags: kcu_xpm

- hosts: "{{ variable_host | default('TMO_hsd_cards') }}" 
  vars:
    cards_name:
    - '1b'
    - '1a'
    - '3e'
    - '3d'
    - '01'
    - 'da' 
    - 'b2'
    - 'b1'
    - '89'
    - '88'
    firmware: hsd/hsd_6400m-0x06020000-20250630083426-weaver-86f0c28.mcs
  roles:
  - {role: ./roles/fpga_update}
  tags: TMO_hsd_cards

- hosts: "{{ variable_host | default('RIX_hsd_cards') }}" 
  vars:
    cards_name:
    #- '1b'
    #- '1a'
    - '3d'
    - '3e'
    firmware: hsd/hsd_6400m-0x06020000-20250630083426-weaver-86f0c28.mcs
    
  roles:
  - {role: ./roles/fpga_update}
  tags: RIX_hsd_cards
    